<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>


		<!-- connection props -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.connection.password">system</property>

		<!-- hinernate props -->
		<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		
		

		<!-- mapping props -->
		<mapping resource="hibernate.hbm.xml"/>

	</session-factory>




</hibernate-configuration>