<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="id1" class="com.pragim.diwithobjects.model.Traveller">
		<property name="vehicle">
			<ref bean="dep1"/>
		</property>
	</bean>
	
	
	<bean id="dep1" class="com.pragim.diwithobjects.model.Bus">
		<property name="serviceNo" value="SR5001"></property>
		<property name="driverName" value="Raoo"></property>
	</bean>
	
	<bean id="dep2" class="com.pragim.diwithobjects.model.Train"/>
	
	<bean id="dep3" class="com.pragim.diwithobjects.model.Flight"/>



</beans>